# Credit Risk Resampling Techniques

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.model_selection import train_test_split

# Read the CSV into DataFrame

In [4]:
# Load the data
file_path = Path('Resources/lending_data.csv')
df = pd.read_csv(file_path)
df.head()

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,own,52800,0.431818,5,1,22800,low_risk
1,8400.0,6.692,own,43600,0.311927,3,0,13600,low_risk
2,9000.0,6.963,rent,46100,0.349241,3,0,16100,low_risk
3,10700.0,7.664,own,52700,0.430740,5,1,22700,low_risk
4,10800.0,7.698,mortgage,53000,0.433962,5,1,23000,low_risk

In [5]:
df = df.dropna(axis='columns', how='all')


df = df.dropna()

# Split the Data into Training and Testing

In [6]:
# Create our features

X = df.drop(columns='loan_status')#, axis=1)
#X =train['borrower_income'] # YOUR CODE HERE



# Create our target
#y =df.loc[:, 'loan_status'] # YOUR CODE HERE   credit risk is the target
y=df["loan_status"]

In [7]:
X

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,own,52800,0.431818,5,1,22800
1,8400.0,6.692,own,43600,0.311927,3,0,13600
2,9000.0,6.963,rent,46100,0.349241,3,0,16100
3,10700.0,7.664,own,52700,0.430740,5,1,22700
4,10800.0,7.698,mortgage,53000,0.433962,5,1,23000
5,10100.0,7.438,mortgage,50600,0.407115,4,1,20600
6,10300.0,7.490,mortgage,51100,0.412916,4,1,21100
7,8800.0,6.857,mortgage,45100,0.334812,3,0,15100
8,9300.0,7.096,own,47400,0.367089,3,0,17400
9,9700.0,7.248,rent,48800,0.385246,4,0,18800
10,9300.0,7.085,own,47300,0.365751,3,0,17300
11,9200.0,7.015,own,46600,0.356223,3,0,16600
12,9200.0,7.043,own,46900,0.360341,3,0,16900
13,9400.0,7.101,mortgage,47400,0.367089,3,0,17400
14,8400.0,6.703,mortgage,43700,0.313501,3,0,13700
15,9400.0,7.136,mortgage,47700,0.371069,3,0,17700
16,8900.0,6.897,own,45500,0.340659,3,0,15500
17,8300.0,6.648,mortgage,43200,0.305556,2,0,13200
18,8000.0,6.539,mortgage,42100,0.287411,2,0,12100
19,10200.0,7.460,rent,50800,0.409449,4,1,20800
20,5200.0,5.326,mortgage,30700,0.022801,0,0,700
21,9300.0,7.068,own,47100,0.363057,3,0,17100
22,7300.0,6.225,own,39200,0.234694,2,0,9200
23,9000.0,6.943,own,45900,0.346405,3,0,15900
24,8700.0,6.813,own,44700,0.328859,3,0,14700
25,8800.0,6.850,mortgage,45100,0.334812,3,0,15100
26,8400.0,6.700,mortgage,43700,0.313501,3,0,13700
27,7900.0,6.482,own,41600,0.278846,2,0,11600
28,9700.0,7.267,mortgage,49000,0.387755,4,0,19000
29,8400.0,6.700,own,43600,0.311927,3,0,13600
...,...,...,...,...,...,...,...,...
77506,18100.0,10.801,mortgage,82200,0.635036,11,2,52200
77507,18700.0,11.087,mortgage,84900,0.646643,12,2,54900
77508,21900.0,12.426,own,97500,0.692308,15,3,67500
77509,19900.0,11.565,mortgage,89400,0.664430,13,2,59400
77510,17000.0,10.356,own,78100,0.615877,10,2,48100
77511,15900.0,9.872,mortgage,73500,0.591837,9,2,43500
77512,19200.0,11.265,mortgage,86600,0.653580,12,2,56600
77513,20600.0,11.881,own,92400,0.675325,14,3,62400
77514,16600.0,10.169,own,76300,0.606815,10,2,46300
77515,18600.0,11.045,mortgage,84500,0.644970,12,2,54500
77516,19700.0,11.509,own,88900,0.662542,13,2,58900
77517,18100.0,10.836,mortgage,82600,0.636804,11,2,52600
77518,20300.0,11.747,own,91200,0.671053,13,3,61200
77519,17200.0,10.437,mortgage,78800,0.619289,10,2,48800
77520,21400.0,12.216,mortgage,95600,0.686192,14,3,65600
77521,20900.0,12.020,own,93700,0.679829,14,3,63700
77522,21700.0,12.363,own,96900,0.690402,15,3,66900
77523,20400.0,11.813,mortgage,91800,0.673203,13,3,61800
77524,16900.0,10.302,own,77500,0.612903,10,2,47500
77525,20300.0,11.753,mortgage,91200,0.671053,13,3,61200
77526,18300.0,10.895,mortgage,83100,0.638989,11,2,53100
77527,20900.0,11.988,own,93400,0.678801,14,3,63400
77528,15100.0,9.557,rent,70500,0.574468,9,2,40500
77529,19300.0,11.347,mortgage,87400,0.656751,12,2,57400
77530,19700.0,11.508,mortgage,88900,0.662542,13,2,58900
77531,19100.0,11.261,own,86600,0.653580,12,2,56600
77532,17700.0,10.662,mortgage,80900,0.629172,11,2,50900
77533,17600.0,10.595,rent,80300,0.626401,11,2,50300
77534,16300.0,10.068,mortgage,75300,0.601594,10,2,45300
77535,15600.0,9.742,mortgage,72300,0.585062,9,2,42300

In [8]:
X.describe()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
count,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000
mean,9805.562577,7.292333,49221.949804,0.377318,3.826610,0.392308,19221.949804
std,2093.223153,0.889495,8371.635077,0.081519,1.904426,0.582086,8371.635077
min,5000.000000,5.250000,30000.000000,0.000000,0.000000,0.000000,0.000000
25%,8700.000000,6.825000,44800.000000,0.330357,3.000000,0.000000,14800.000000
50%,9500.000000,7.172000,48100.000000,0.376299,4.000000,0.000000,18100.000000
75%,10400.000000,7.528000,51400.000000,0.416342,4.000000,1.000000,21400.000000
max,23800.000000,13.235000,105200.000000,0.714829,16.000000,3.000000,75200.000000

In [9]:
# Check the balance of our target values
y.value_counts()

low_risk     75036
high_risk     2500
Name: loan_status, dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

le.fit(df["homeowner"])
df["homeowner"] = le.transform(df["homeowner"])

df.head()

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,1,52800,0.431818,5,1,22800,low_risk
1,8400.0,6.692,1,43600,0.311927,3,0,13600,low_risk
2,9000.0,6.963,2,46100,0.349241,3,0,16100,low_risk
3,10700.0,7.664,1,52700,0.430740,5,1,22700,low_risk
4,10800.0,7.698,0,53000,0.433962,5,1,23000,low_risk

In [11]:
# Create X_train, X_test, y_train, y_test
# YOUR CODE HERE
X_train, X_test, y_train, y_test =train_test_split(X,y)
X_train.shape

(58152, 8)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [12]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler

# YOUR CODE HERE
scaler = StandardScaler()
scaler

StandardScaler()

In [17]:
X_train

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
17919,9700.0,7.250,own,48800,0.385246,4,0,18800
62293,7500.0,6.328,own,40100,0.251870,2,0,10100
41477,11800.0,8.134,mortgage,57100,0.474606,6,1,27100
1058,10400.0,7.547,mortgage,51600,0.418605,4,1,21600
10496,9200.0,7.054,mortgage,47000,0.361702,3,0,17000
49794,9600.0,7.186,mortgage,48200,0.377593,4,0,18200
59579,8400.0,6.711,own,43800,0.315068,3,0,13800
47058,11800.0,8.125,mortgage,57100,0.474606,6,1,27100
34416,12600.0,8.468,rent,60300,0.502488,6,1,30300
12797,8400.0,6.712,own,43800,0.315068,3,0,13800
18509,10600.0,7.611,own,52200,0.425287,5,1,22200
34064,8900.0,6.899,own,45500,0.340659,3,0,15500
51301,11200.0,7.893,mortgage,54900,0.453552,5,1,24900
52646,8500.0,6.735,mortgage,44000,0.318182,3,0,14000
54103,7900.0,6.492,mortgage,41700,0.280576,2,0,11700
69759,10000.0,7.369,mortgage,49900,0.398798,4,0,19900
22200,8100.0,6.580,own,42500,0.294118,2,0,12500
12429,10200.0,7.440,mortgage,50600,0.407115,4,1,20600
54060,9000.0,6.965,own,46100,0.349241,3,0,16100
41608,9000.0,6.943,mortgage,45900,0.346405,3,0,15900
63960,8600.0,6.776,own,44400,0.324324,3,0,14400
56580,9000.0,6.941,rent,45900,0.346405,3,0,15900
13583,8900.0,6.890,mortgage,45400,0.339207,3,0,15400
54465,9600.0,7.218,mortgage,48500,0.381443,4,0,18500
76955,16500.0,10.135,own,76000,0.605263,10,2,46000
41688,9300.0,7.071,mortgage,47100,0.363057,3,0,17100
28547,11000.0,7.810,mortgage,54100,0.445471,5,1,24100
71743,8600.0,6.786,mortgage,44500,0.325843,3,0,14500
30489,10500.0,7.594,mortgage,52100,0.424184,4,1,22100
31877,10300.0,7.486,mortgage,51000,0.411765,4,1,21000
...,...,...,...,...,...,...,...,...
20760,8500.0,6.745,rent,44100,0.319728,3,0,14100
67033,10700.0,7.670,own,52800,0.431818,5,1,22800
39614,6300.0,5.784,rent,35000,0.142857,1,0,5000
59746,10800.0,7.714,rent,53200,0.436090,5,1,23200
23144,7000.0,6.084,mortgage,37800,0.206349,1,0,7800
70570,9100.0,7.010,mortgage,46600,0.356223,3,0,16600
13473,9100.0,7.012,own,46600,0.356223,3,0,16600
59271,8900.0,6.912,own,45600,0.342105,3,0,15600
51373,10200.0,7.474,mortgage,50900,0.410609,4,1,20900
6150,9800.0,7.285,mortgage,49200,0.390244,4,0,19200
24986,6800.0,6.027,own,37300,0.195710,1,0,7300
41441,11500.0,8.027,own,56100,0.465241,5,1,26100
54692,10700.0,7.687,own,52900,0.432892,5,1,22900
19150,9500.0,7.149,mortgage,47900,0.373695,4,0,17900
57877,9500.0,7.169,own,48100,0.376299,4,0,18100
43002,10100.0,7.418,own,50400,0.404762,4,1,20400
66265,9200.0,7.048,mortgage,46900,0.360341,3,0,16900
65681,11400.0,7.962,own,55500,0.459459,5,1,25500
76121,18100.0,10.813,mortgage,82400,0.635922,11,2,52400
6532,9700.0,7.250,rent,48800,0.385246,4,0,18800
27882,8900.0,6.894,mortgage,45500,0.340659,3,0,15500
23249,10100.0,7.398,rent,50200,0.402390,4,1,20200
55190,8400.0,6.713,mortgage,43800,0.315068,3,0,13800
34884,10000.0,7.395,mortgage,50200,0.402390,4,1,20200
51134,9800.0,7.286,mortgage,49200,0.390244,4,0,19200
30644,8800.0,6.884,own,45400,0.339207,3,0,15400
60457,10800.0,7.736,mortgage,53400,0.438202,5,1,23400
70128,7400.0,6.287,rent,39800,0.246231,2,0,9800
32261,8600.0,6.790,rent,44500,0.325843,3,0,14500
5938,10100.0,7.408,mortgage,50300,0.403579,4,1,20300

In [18]:
le.fit(X_train["homeowner"])
X_train["homeowner"] = le.transform(X_train["homeowner"])

X_train.head()

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
17919,9700.0,7.250,1,48800,0.385246,4,0,18800
62293,7500.0,6.328,1,40100,0.251870,2,0,10100
41477,11800.0,8.134,0,57100,0.474606,6,1,27100
1058,10400.0,7.547,0,51600,0.418605,4,1,21600
10496,9200.0,7.054,0,47000,0.361702,3,0,17000

In [21]:
X_test.head()

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
39223,8800.0,6.851,own,45100,0.334812,3,0,15100
56058,9400.0,7.101,mortgage,47400,0.367089,3,0,17400
74233,8800.0,6.873,mortgage,45300,0.337748,3,0,15300
22291,10600.0,7.626,own,52400,0.427481,5,1,22400
61664,10200.0,7.446,mortgage,50700,0.408284,4,1,20700

In [22]:
le.fit(X_test["homeowner"])
X_test["homeowner"] = le.transform(X_test["homeowner"])

X_test.head()

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
39223,8800.0,6.851,1,45100,0.334812,3,0,15100
56058,9400.0,7.101,0,47400,0.367089,3,0,17400
74233,8800.0,6.873,0,45300,0.337748,3,0,15300
22291,10600.0,7.626,1,52400,0.427481,5,1,22400
61664,10200.0,7.446,0,50700,0.408284,4,1,20700

In [23]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
# YOUR CODE HERE
X_scaler = scaler.fit(X_train)
#X_scaler

In [24]:
# Scale the training and testing data
# YOUR CODE HERE
X_train_scale = X_scaler.transform(X_train)
X_test_scale = X_scaler.transform(X_test)

# Simple Logistic Regression

In [25]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [26]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9471037441689477

In [27]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[  600,    67],
       [  100, 18617]], dtype=int64)

In [28]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.86      0.90      0.99      0.88      0.95      0.89       667
   low_risk       1.00      0.99      0.90      1.00      0.95      0.90     18717

avg / total       0.99      0.99      0.90      0.99      0.95      0.90     19384

# Oversampling

In this section, you will compare two oversampling algorithms to determine which algorithm results in the best performance. You will oversample the data using the naive random oversampling algorithm and the SMOTE algorithm. For each algorithm, be sure to complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

### Naive Random Oversampling

In [31]:
# Resample the training data with the RandomOversampler
# YOUR CODE HERE

from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train_scale, y_train)

from collections import Counter
Counter(y_resampled)

# View the count of target classes with Counter
# YOUR CODE HERE

Counter({'low_risk': 56319, 'high_risk': 56319})

In [32]:
# Train the Logistic Regression model using the resampled data
# YOUR CODE HERE
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver = 'lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

y_pred = model.predict(X_test_scale)

In [33]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
from sklearn.metrics import balanced_accuracy_score

balanced_accuracy_score(y_test, y_pred)

0.9961783012965388

In [34]:
# Display the confusion matrix
# YOUR CODE HERE
confusion_matrix(y_test, y_pred)

array([[  666,     1],
       [  115, 18602]], dtype=int64)

In [35]:
# Print the imbalanced classification report
# YOUR CODE HERE
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.85      1.00      0.99      0.92      1.00      0.99       667
   low_risk       1.00      0.99      1.00      1.00      1.00      0.99     18717

avg / total       0.99      0.99      1.00      0.99      1.00      0.99     19384

### SMOTE Oversampling

In [39]:
# Resample the training data with SMOTE
# YOUR CODE HERE

from imblearn.over_sampling import SMOTE

X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy=1.0).fit_resample(X_train_scale, y_train)


# View the count of target classes with Counter
# YOUR CODE HERE

Counter(y_resampled)

Counter({'low_risk': 56319, 'high_risk': 56319})

In [40]:
# Train the Logistic Regression model using the resampled data
# YOUR CODE HERE
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [42]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
y_pred = model.predict(X_test_scale)
balanced_accuracy_score(y_test, y_pred)

0.9962050149792872

In [43]:
# Display the confusion matrix
# YOUR CODE HERE
confusion_matrix(y_test, y_pred)

array([[  666,     1],
       [  114, 18603]], dtype=int64)

In [44]:
# Print the imbalanced classification report
# YOUR CODE HERE
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

   high_risk       0.85      1.00      0.92       667
    low_risk       1.00      0.99      1.00     18717

    accuracy                           0.99     19384
   macro avg       0.93      1.00      0.96     19384
weighted avg       0.99      0.99      0.99     19384

# Undersampling

In this section, you will test an undersampling algorithm to determine which algorithm results in the best performance compared to the oversampling algorithms above. You will undersample the data using the Cluster Centroids algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Display the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [47]:
from imblearn.under_sampling import ClusterCentroids

In [48]:
# Resample the data using the ClusterCentroids resampler
# YOUR CODE HERE
#from imblearn.under_sampling import ClusterCentroids

cc = ClusterCentroids(random_state=1)
X_resampled, y_resampled = cc.fit_resample(X_train_scale, y_train)

Counter(y_resampled)
# View the count of target classes with Counter
# YOUR CODE HERE

Counter({'high_risk': 1833, 'low_risk': 1833})

In [49]:
# Train the Logistic Regression model using the resampled data
# YOUR CODE HERE
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [51]:
# Calculate the balanced accuracy score
# YOUR CODE HERE
y_pred = model.predict(X_test_scale)
balanced_accuracy_score(y_test, y_pred)

0.9949729014319575

In [53]:
# Display the confusion matrix
# YOUR CODE HERE

confusion_matrix(y_test, y_pred)

array([[  664,     3],
       [  104, 18613]], dtype=int64)

In [54]:
# Print the imbalanced classification report
# YOUR CODE HERE
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.86      1.00      0.99      0.93      0.99      0.99       667
   low_risk       1.00      0.99      1.00      1.00      0.99      0.99     18717

avg / total       1.00      0.99      1.00      0.99      0.99      0.99     19384

# Combination (Over and Under) Sampling

In this section, you will test a combination over- and under-sampling algorithm to determine if the algorithm results in the best performance compared to the other sampling algorithms above. You will resample the data using the SMOTEENN algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Display the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [58]:
# Resample the training data with SMOTEENN
# YOUR CODE HERE

from imblearn.over_sampling import SMOTE

X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy=1.0).fit_resample(X_train_scale, y_train)

Counter(y_resampled)

# View the count of target classes with Counter
# YOUR CODE HERE

Counter({'low_risk': 56319, 'high_risk': 56319})

In [59]:
# Train the Logistic Regression model using the resampled data
# YOUR CODE HERE
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [61]:
# Calculate the balanced accuracy score
# YOUR CODE HERE
y_pred = model.predict(X_test_scale)
balanced_accuracy_score(y_test, y_pred)

0.9962050149792872

In [62]:
# Display the confusion matrix
# YOUR CODE HERE
confusion_matrix(y_test, y_pred)

array([[  666,     1],
       [  114, 18603]], dtype=int64)

In [63]:
# Print the imbalanced classification report
# YOUR CODE HERE
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

   high_risk       0.85      1.00      0.92       667
    low_risk       1.00      0.99      1.00     18717

    accuracy                           0.99     19384
   macro avg       0.93      1.00      0.96     19384
weighted avg       0.99      0.99      0.99     19384

# Final Questions

1. Which model had the best balanced accuracy score?

   YOUR ANSWER HERE.

2. Which model had the best recall score?

    YOUR ANSWER HERE.

3. Which model had the best geometric mean score?

    YOUR ANSWER HERE.